.fas{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 1.5s;
}
.fa-pen-fancy:hover{
    color: #1e90ff ;
}
.fa-trash-alt:hover{
    color: #ff0000;
}

.table-head{
    background-color: #fff;
}

.filas-en-edicion{
    background-color: rgba(44, 223, 255, 0.493);
}